.conteudo {
    width: 100%;
}

.home{
    padding: 0;
    top: 0;
    width: 100%;
}

.cardHome {
    background-color: #4C4C4C;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: #212529 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cardHome h3 {
    text-align: center;
    color: #e9ecef;
    width: 100%;
    margin-top: 1rem;
    transition: color 0.3s ease;
}

.cardHome h3:hover {
    color: #333333;
}

.cardHome img {
    border-radius: 8px;
    object-fit: contain;
}

.cardHome:hover {
    transform: scale(1.1);
}

.cardHomeDois {
    background-color: #4C4C4C;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: #212529 0px 5px 15px;
    width: calc(25rem * 3 + 120px);
    transition: font-size 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cardHomeDois img {
    border-radius: 8px;
    object-fit: contain;
    width: 100%;
}

.cardHomeDois:hover {
    transform: scale(1.1);
}

.cardHomeDois h3 {
    text-align: center;
    color: #e9ecef;
    width: 100%;
    margin-top: 1rem;
    transition: color 0.3s ease;
}

.cardHomeDois h3:hover {
    color: #333333;
}

.text {
    width: 100%;
}

.text h2 {
    margin: 2rem;
    font-size: 2rem;
    color: #333333;
}

hr {
    background-color: #333333;
    border: 1px solid #333333; 
}

@media (max-width: 500px) {

    .cardHome {
        width: 100%;
    }
    
    .cardHome img {
        width: 100%;
    }

    .cardHomeDois {
        width: 100%;
    }
}